.wrapper {
  display: flex;
<<<<<<< HEAD
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-top: 180px;
=======
  flex-direction: column;
  align-items: center;
  padding-top: 180px;
  width: 100%;
>>>>>>> 7d1a25206d9183d23db06393a46733c4e3dd790f
}

.form {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  align-items: center;
  justify-content: center;
  margin-bottom: 88px;
  width: 480px;
=======
  justify-content: center;
  align-items: center;
  width: 480px;
  margin-bottom: 88px;
>>>>>>> 7d1a25206d9183d23db06393a46733c4e3dd790f
}
.form div {
  width:100%
}

.form svg {
  margin-left: 190px;
}

.title{
  text-align: center;
}

.link {
<<<<<<< HEAD
  color: #4c4cff;
  text-decoration: none;
=======
  text-decoration: none;
  color: #4c4cff;
>>>>>>> 7d1a25206d9183d23db06393a46733c4e3dd790f
  transition: all 0.3s linear;
}

.link:hover {
  opacity: 0.8;
}

.link:active {
  color: white;
<<<<<<< HEAD
}
=======
}
>>>>>>> 7d1a25206d9183d23db06393a46733c4e3dd790f
