.total {
  width: 600px;
  margin-top: 84px;
}

.ingredientsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  padding: 0;
}

.listElement {
  display: flex;
  width: 584px;
  align-items: center;
  column-gap: 9px;
  justify-content: flex-end;
}

.payment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 40px 16px 0 0;
}

.price {
  display: flex;
  align-items: center;
  padding-right: 42px;
  column-gap: 8px;
}

.smallScroll {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 36vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.smallScroll::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.smallScroll::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
.burgerBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  /* padding: 10px 0; */
  transition: outline 0.15s ease-in-out;
  margin: 0;
  padding: 0;
}
.burgerBody::-webkit-scrollbar {
  background-color: #2f2f37;
  width: 8px;
}
.burgerBody::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.borderColor {
  outline: 2px dashed green !important;
  transition: outline 0.15s ease-in-out;
}
