.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  min-width: 1280px;
  background-color: #131316;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex: 1;
  gap: 40px;
  max-width: 1240px;
  padding: 0;
}
