.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.order_info {
  width: 100%;
  padding: 40px 0;
  max-width: 640px;
}

.order_number {
  text-align: start;
  width: 100%;
}

.currency_container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.list {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 25px 0 0;
  list-style: none;
  width: 100%;
  justify-content: flex-start;
  max-height: 320px;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  width: 8px;
  height: 464px;
  background-color: rgba(47, 47, 55, 1);
}

.list::-webkit-scrollbar-thumb {
  height: 292px;
  background-color: rgba(133, 133, 173, 1);
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: rgb(99, 99, 128);
}

.list_item {
  display: flex;
  gap: 16px;
  width: 100%;
  align-items: center;
}

.image {
  object-fit: cover;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(#000, #000) padding-box,
  linear-gradient(45deg, #801AB2, #4C4CFF) border-box;
  border: 2px solid transparent;
}

.item_currency {
  gap: 8px;
  display: flex;
  align-items: center;
}

.item_currency_container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.title {
  flex-grow: 1;
}
