.header {
  width: 100%;
  background-color:#1C1C21;
  padding:0;
}

.navigation {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.wrapper{
  composes:navigation;
  width: 61.5%;
  margin: 0;
}

.menuList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.link {
  display: flex;
  justify-content: flex-start;
  color: #8585ad;
  text-decoration: none;
}

.link:hover {
  color: #f2f2f3;
  transition: .3s linear;
}

.linkActive {
  color: rgb(240, 240, 240, 1);
}

.linkActive svg {
  fill: white;
}


/* .linkActive {
  composes: link;
  color: #f2f2f3;
} */