.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 480px;
  margin-bottom: 88px;
}
.form div {
  width:100%
}

.form svg {
  margin-left: 190px;
}

.title{
  text-align: center;
}

.link {
  text-decoration: none;
  color: #4c4cff;
  transition: all 0.3s linear;
}

.link:hover {
  opacity: 0.8;
}

.link:active {
  color: white;
}
