.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 520px;
}

.nutritionList {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
