.main_container {
  max-width: 600px;
  width: 100%;
}

.orders_container {
  max-height: 825px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.list {
  display: flex;
  gap: 16px;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.orders_container::-webkit-scrollbar {
  width: 8px;
  height: 664px;
  background-color: rgba(47, 47, 55, 1);
}

.orders_container::-webkit-scrollbar-thumb {
  height: 492px;
  background-color: rgba(133, 133, 173, 1);
}

.orders_container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(99, 99, 128);
}
