.ingredientsContainer {
  max-width: 600px;
  overflow-y: auto;
  max-height: 70vh;
}

.ingredientsContainer::-webkit-scrollbar {
  width: 8px;
}

.ingredientsContainer::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.ingredientsContainer::-webkit-scrollbar-track {
  background-color: #2f2f37;
  margin: 40px 0 52px 0;
}
.navigationWrapper {
  display: flex;
}
